.chat {
    /* background: var(--tri); */
    border: 1px solid var(--sec-main);
    height: 100dvh;
    padding: 10px 20px;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.chat h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: "Anek Tamil", sans-serif;
}

.chat .chat-window {
    padding: 5px 10px;
    position: relative;
    height: calc(100dvh - 200px);
    overflow: hidden auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.chat .chat-window::-webkit-scrollbar {
    width: 4px;
}

.chat .chat-window::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.chat .chat-window::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.chat .chat-window::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat .form-control {
    padding-top: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 65px;
    gap: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 90px;
    width: inherit;
    min-width: calc(100% - 40px);
    /* border: 1px solid #000; */
}

.chat .form-control .input-div:has(textarea.message-input:focus) {
    outline: 1px solid var(--pri);
}

.chat .form-control .input-div {
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid #000; */
    outline: 1px solid var(--sec-main);
    background: var(--tri);
    border-radius: 5px;
    position: relative;
    padding-right: 1px;
}

.chat .form-control .input-div button.active svg {
    animation: beat 1.5s infinite ease-in-out;
}

@keyframes beat {

    from,
    to {
        padding: 0px;
        transform: scale(80%);
    }

    50% {
        padding: 2px;
        transform: scale(155%);
    }
}

.chat .form-control .input-div button.active,
.chat .form-control .input-div button:hover,
.chat .form-control .input-div button:focus-visible,
.chat .form-control .input-div button:focus {
    background: #d9ad5a;
    outline: 1px solid #f1cf90;
    color: white;
    border: none;
}

.chat .form-control .input-div button.disabled {
    background: #e0e0e0;
    color: #a6a6a6;
}

.chat .form-control .input-div button {
    border-radius: 35px;
    border: none;
    outline: 1px solid transparent;
    display: grid;
    place-items: center;
    margin: 2px 5px;
    position: absolute;
    right: 2px;
    top: 1px;
    width: 35px;
    height: 35px;
    /* color: #f1cf90; */
    color: #000;
    background: #f1cf90;
    cursor: pointer;
}

.chat .form-control .input-div textarea.message-input::-webkit-resizer {
    display: none;
}

.chat .form-control .input-div textarea.message-input::-webkit-scrollbar {
    width: 3px;
}

.chat .form-control .input-div textarea.message-input::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.chat .form-control .input-div textarea.message-input::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.chat .form-control .input-div textarea.message-input::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat .form-control .input-div textarea.message-input {
    /* --padding: 8px;
    min-height: calc(1lh + 2 * var(--padding));
    max-height: calc(4lh + 2 * var(--padding));
    field-sizing: content;
    line-height: 1.5;
    padding: var(--padding);
    padding-inline: calc(var(--padding) + calc((1lh - 1ex) / 2));
    font-size: 16px;
    resize: none; */
    resize: none;
    font-size: 16px;
    border: none;
    padding: 8px;
    padding-right: 42px;
    height: 40px;
    max-height: 90px;
    background: transparent;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
}

.chat .form-control .input-div textarea.message-input:focus {
    outline: transparent;
}

.chat .chat-window .left-msg,
.chat .chat-window .right-msg {
    max-width: 90%;
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.chat .chat-window p:nth-of-type(1) {
    margin-top: 0;
}

.chat .chat-window .left-msg:empty {
    display: none;
}

.chat .chat-window .left-msg {
    border-radius: 0px 10px 10px 10px;
    background: var(--tri);
    border: 1.3px solid #ae8e54;
}

.chat .chat-window .right-msg {
    border-radius: 10px 0px 10px 10px;
    background: #f8f4ea;
    border: 1.3px solid var(--pri);
    margin-left: auto;
    text-align: right;
}

.chat div.error-div {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}