.dashboard {
    font-family: "Anek Tamil", sans-serif;
}

.dashboard .food-div,
.dashboard .exercise-div {
    background: var(--tri);
    padding: 10px;
    border-radius: 10px;
    width: 270px;
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr;
    justify-content: center;
    align-items: center;
}

.dashboard .food-div .dash-text,
.dashboard .exercise-div .dash-text {
    margin-left: 0px;
    font-weight: 600;
}

.dashboard .food-div .dash-text p.score,
.dashboard .exercise-div .dash-text p.score {}

.dashboard .food-div .dash-text .message,
.dashboard .exercise-div .dash-text .message {
    color: green;
}

.dashboard .food-div .dash-icon,
.dashboard .exercise-div .dash-icon {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.dashboard .food-div .dash-icon {
    color: orange;
}

.dashboard .exercise-div .dash-icon {
    color: #FF9800;
}

.dashboard .pie-chart > * {
    border: 1px solid #000;
    height: 180px;
    width: 200px;
}

.dashboard .pie-chart .MuiPieArcLabel-root {
    color: red;
    font-size: 10px;
}

@media (width<300px) {

    .dashboard .food-div .dash-text p.score span,
    .dashboard .exercise-div .dash-text p.score span {
        display: none;
    }
}