@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pri: #f0cf90;
    --sec: #000000;
    --tri: #fff0d0;
    --secondary-color: #333;
    --sec-main: #4a1d1d;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

a {
    text-decoration: none;
}

body {
    scrollbar-width: 0;
}

body::-webkit-scrollbar {
    width: 0;
    display: none;
}

/***************** Navbar *************/
.App {
    min-width: 300px;
}


.navbar {
    padding-block: 5px;
    position: sticky;
    top: 0;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px clamp(5px, 10%, 100px);
    background: var(--tri);
    z-index: 10;
}

.navbar:has(.try-app){
    justify-content: space-between;
}

.navbar div.logo-div .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.navbar div.logo-div {
    display: flex;
    justify-content: center;
    color: var(--sec);
    font-family: "Berkshire Swash", serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-style: normal;
}

.navbar .logo-div .logo p {
    font-size: 22px;
    color: var(--sec);
    text-shadow: 0 0 4px var(--pri);
}

.navbar .try-app {}

.navbar .try-app a {
    color: var(--sec);
    font-weight: 600;
    font-size: 20px;
    font-family: "Anek Tamil", sans-serif;
    border-radius: 30px;
    background: var(--pri);
    padding: 8px 20px;
    color: var(--sec);
}

@media (width < 350px) {
    .navbar {
        padding-inline: 0;
    }
}