@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Berkshire+Swash&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pri: #f0cf90;
  --sec: #000000;
  --secondary-color: #333;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a{
  text-decoration: none;
}

body {
  scrollbar-width: 0;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* App.css */


.navbar > *{
  /* border: 1px solid #000; */
}
.navbar {
  margin: 0 auto;
  background-color: var(--pri);
  padding: 5px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  min-width: 300px;
  box-shadow: 0 0px 18px grey;
  -webkit-tap-highlight-color: transparent;
  
}

.navbar div.logo-div .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  /* border: 1px solid #000; */
  padding: 0 10px;
}

.navbar div.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sec);
  font-family: "Berkshire Swash", serif;
  font-weight: 900;
  letter-spacing: 1px;
  font-style: normal;
}

.navbar .logo-div .logo p{
  font-size: 22px;
  color: var(--sec);
}

.navbar-toggle {
  cursor: pointer;
  display: none;
  /* border: 1px solid #000; */
  padding: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  /* border: 1px solid #000; */
}

.nav-item {
  margin-right: 10px;
  /* border: 1px solid #000; */
  font-size: 20px;
  font-family: "Anek Tamil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-item .active {
  background-color: #eee;
  font-weight: 800;

}

.nav-link {
  color: #1e2937;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #eee;
}

@media (width<1000px) {
  .navbar{
    display: flex;
  }
  .navbar div.waste{
    display: none;
  }
  .navbar-nav {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .navbar a:focus,
  .navbar a:active{
    color: var(--sec);
  }
  .navbar {
    padding: 10px 20px;
  }

  .navbar-nav {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: auto;
    padding: 20px;
    background-color: var(--pri);
    display: none;
    align-items: center;
    /* border: 1px solid #000; */
    border-radius: 0 5px;
  }

  .navbar .navbar-toggle {
    margin-left: auto;
  }

  .navbar-nav.open {
    display: flex;
  }

  .nav-item {
    margin: 15px 0;
  }

  .navbar-toggle {
    display: block;
  }
}